{% extends "base.html" %}

{% block title %} 
Sign up
{% endblock  %} 

{% block content %}

<h3>Sign Up</h3>
<div >
    <form method="POST" action="/register">

        <p> <input  type="email" name="email" placeholder="Email" autofocus=""> </p>

        <p> <input  type="text" name="name" placeholder="Name" autofocus=""> </p>

        <p> <input  type="password" name="password" placeholder="Password"> </p>

        <p> <button>Sign Up</button> </p>
    </form>
</div>

<a href="/authorize">Register with google</a>

{% endblock %}